.parallax{
    /*width:100px;*/
    height:100vh;
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    
}
.parallax1{
    background-image:url("p1.webp");
}
.parallax2{
    background-image:url("p1.jpg");
}