.carousel {
  width: 100%;
  height: 166px;
  border: solid 1px red; }
  .carousel .card-container {
    width: calc(100% - 16px);
    margin: 8px;
    flex: 0 0 calc(100% - 16px);
    display: flex;
    border: solid 1px green;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 8px; }
    .carousel .card-container .card {
      min-width: 300px;
      height: 150px;
      scroll-snap-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #17BF60;
      color: #4a544C;
      border-radius: 8px; }
      .carousel .card-container .card:hover {
        background: #1ED96F; }
    .carousel .card-container::-webkit-scrollbar {
      display: none; }
